body {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.logo {
  margin: 0;
  padding: 0;
}

.logo-image {
  width: 200px;
}

.permit {
  float: left;
  width: 25rem;
  margin: 10px;
  border: 1px solid #eee;
}
