.permit-list-header {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.permit-list-header h3 {
  font-size: 1rem;
}

.row {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 5fr 1fr 1fr;
  border-bottom: 1px solid #eee;
}

.cell {
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.cell a {
  color: #333;
}

.title {
  font-weight: bold;
}

.description {
  color: #999;
}

.complaint {
  color: #bd4343;
}

.alteration,
.addition {
  color: #555;
}

.construction {
  color: #46c06f;
}

.short-term-rental {
  color: #25a8db;
}

.default {
  color: #333;
}
